<!-- main -->
<div class="row main">
  <app-sidebarHome></app-sidebarHome>>

  <!-- phai -->
  <div class="col-md-9 col-xs-12 phai">
      <div class="row phai1">
          <li>
              <a>
                  XXAPT
              </a>
              <div class="daugach"></div>
          </li>
          <div class="col-xs-6 col-md-6 hinhphai">
              <img src="../../../../assets/img/ads2-01-02.png" />
          </div>
          <div class="col-xs-6 col-md-6 hinhphai">
              <img src="../../../../assets/img/ads2-01-02.png" />
          </div>
      </div>
      <div class="spchung">
          <h3>Cac san pham dau gia</h3>
          <div class="daugach2"></div>
          <li>
              <a href="#">
                  XXAPT
              </a>
              <div class="daugach"></div>
          </li>
          <div class="container-fluid">
              <div class="row">
                  <div class="sanpham">
                      <div class="row sp1">
                          <div class="col-md-3 col-xs-12 ">
                              <div class="video1">
                                  <img src="../../../../assets/img/sp1-01.png">
                                  <h4>Jordan1 xyz</h4>
                                  <div class="col-ms-12 play_video">
                                      <h6> jordan1234</h6>
                                      <h6> jordan123</h6>

                                      <button type="button" class="btn btn--primary btn--inside uppercase">Đấu giá</button>

                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3 col-xs-12">
                              <div class="video1">
                                  <img src="../../../../assets/img/sp1-01.png">

                                  <div class="play_video">
                                      <ul>
                                          <li>
                                              Người đăng: Michel jordan
                                          </li>
                                      </ul>
                                      <input type="number" class="nhapdaugia" />
                                      <button type="button" class="btn btn--primary btn--inside uppercase">Đấu giá</button>
                                      <div id="clockdiv">
                                          <div>
                                              <span class="days"></span>

                                          </div>
                                          <div>
                                              <span class="hours">12</span>

                                          </div>
                                          <div>
                                              <span class="minutes">60</span>

                                          </div>
                                          <div>
                                              <span class="seconds">12</span>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3 col-xs-12">
                              <div class="video1">
                                  <img src="../../../../assets/img/sp1-01.png">

                                  <div class="play_video">
                                      <ul>
                                          <li>
                                              Người đăng: Michel jordan
                                          </li>
                                      </ul>
                                      <input type="number" class="nhapdaugia" />
                                      <button type="button" class="btn btn--primary btn--inside uppercase">Đấu giá</button>
                                      <div id="clockdiv">
                                          <div>
                                              <span class="days"></span>

                                          </div>
                                          <div>
                                              <span class="hours"></span>

                                          </div>
                                          <div>
                                              <span class="minutes"></span>

                                          </div>
                                          <div>
                                              <span class="seconds"></span>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-md-3 col-xs-12">
                              <div class="video1">
                                  <img src="../../../../assets/img/sp1-01.png">

                                  <div class="play_video">
                                      <ul>
                                          <li>
                                              Người đăng: Michel jordan
                                          </li>
                                      </ul>
                                      <input type="number" class="nhapdaugia" />
                                      <button type="button" class="btn btn--primary btn--inside uppercase">Đấu giá</button>
                                      <div id="clockdiv">
                                          <div>
                                              <span class="days"></span>

                                          </div>
                                          <div>
                                              <span class="hours"></span>

                                          </div>
                                          <div>
                                              <span class="minutes"></span>

                                          </div>
                                          <div>
                                              <span class="seconds"></span>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <a href="#" id="loadMore">Load More</a>
                      <p class="totop">
                          <a href="#top">Back to top</a>
                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- het phai -->
</div>
<!-- het main -->
