<!-- slider -->
<div class="row slider">
  <div class="col-md-4 col-xs-12 ads">
      <img src="../../../../assets/img/ads-01.jpg" />
  </div>
  <div class="col-md-8 col-xs-12">
      <div class="row ads1">
          <div class="col-md-6 col-xs-6">
              <img src="../../../../assets/img/quangcao-01.png" />
          </div>
          <div class="col-md-6 col-xs-6">
              <img src="../../../../assets/img/quangcao-01.png" />
          </div>
      </div>
      <div class="row ads1">
          <div class="col-md-6 col-xs-6">
              <img src="../../../../assets/img/quangcao-01.png" />
          </div>
          <div class="col-md-6 col-xs-6">
              <img src="../../../../assets/img/quangcao-01.png" />
          </div>
      </div>
  </div>
</div>
<!-- hetslider -->
